# Common
node_modules/
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
server/uploads/*
!server/uploads/.gitkeep
